.dashboard-page {
  display: flex;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #f5f7fb;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #1f2a56;
  color: white;
  padding: 40px 20px;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  color: #ff7a2f;
}

/* CONTENT */
.dashboard-content {
  flex: 1;
  padding: 40px;
}

.dashboard-content h1 {
  margin-bottom: 30px;
  color: #1f2a56;
}

/* STATS */
.stats-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  width: 220px;

  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.stat-card h3 {
  color: #6b7280;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 30px;
  font-weight: bold;
  color: #5a4fcf;
}

/* ELECTION CARD */
.election-card {
  background: white;
  padding: 35px;
  border-radius: 20px;

  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.election-card h2 {
  margin-bottom: 25px;
  color: #1f2a56;
}

.election-card p {
  margin-bottom: 15px;
}

/* BUTTONS */
.dashboard-buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.dashboard-buttons button {
  background: #ff7a2f;
  color: white;

  border: none;
  padding: 14px 22px;

  border-radius: 10px;

  cursor: pointer;
  font-weight: 600;
}

.dashboard-buttons button:hover {
  background: #e66a20;
}

/* RESPONSIVE */
@media (max-width: 900px) {

  .dashboard-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

}