
.home {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  background: linear-gradient(135deg, #3b2f80, #5a4fcf);
  min-height: 100vh;
  background-size: cover;
  color: white;
}
body{
  margin: 0 ;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  padding-right: 0px;
  width: 90%;
  flex-wrap: wrap; 
}

.hero-left {
  flex: 1;
  min-width: 300px;
}

.hero-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.hero-left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.hero-left span {
  color: #ff7a2f;
}

.hero-left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
 
  color: white;
}

.hero-buttons {
  margin-top: 20px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.primary {
  background-color: #ff7a2f;
  color: white;
  border: 1px solid #ff7a2f;
}

.primary:hover {
  background-color: #e66a20;
}

.outline {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.small {
  padding: 8px 14px;
  background: #ff7a2f;
  border-radius: 6px;
}

.hero-right img {
  padding-left: 70px;
  padding-right: 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
  
  
}

.features {
  padding: 60px 40px;
  background-color: white;;

  /*background: #f9fafb;*/
  color: #1f2937;
  text-align: center;
}

.features h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  max-width: 1000px;
  margin: auto;
}

.feature-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff7a2f;
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 22px;
  color: #ffffff; 
  margin-bottom: 10px;
}

.feature-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  max-width: 300px;
}

.feature-icon {
  background: #e5e7eb;
  padding: 15px;
  border-radius: 50%;
}

.feature-icon img {
  width: 70px;
  height: 70px;
}

/* How It Works Section */
/*.how-it-works {

  
  padding: 20px 20px;
  text-align: center;
  background: white;
}


.how-it-works h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 52px;
  margin-bottom: 40px;
  color: #1f2937;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: auto;
}


.step {
  background:  #5a4fcf;
  
  padding: 25px;
  border-radius: 16px;
  transition: 0.3s;
}

.step:hover {
  transform: translateY(-5px);
}

.step-number {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  width: 40px;
  height: 40px;
  margin: auto;
  margin-bottom: 15px;
  background: #ff7a2f;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.step h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  margin-bottom: 10px;
}

.step p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}*/

/* SECTION */
.stats-section {
  display: flex;
  gap: 40px;
  padding: 60px 20px;
  background: linear-gradient(135deg, #3b2f80, #5a4fcf);
  color: white;
  align-items: center;
}

/* LEFT */
.stats-left {
  flex: 1;
}

.stats-left h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.stats-left p {
  margin-bottom: 20px;
  color: #e5e7eb;
}

/* BUTTON */
.stats-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: white;
  color: #5a4fcf;
  cursor: pointer;
}

/* RIGHT GRID */
.stats-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARDS */
.stat-card {
  background: white;
  color: #1f2937;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.stat-card h3 {
  font-size: 28px;
  color: #6d5dfc;
  margin-bottom: 5px;
}

.stat-card p {
  font-size: 14px;
  color: #6b7280;
}
/* CTA Section */
.cta-section {
  background-color: white;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

/* Gradient Box */
.cta-box {
  width: 100%;
  max-width: 1000px;
  padding: 60px 20px;
  text-align: center;
  border-radius: 30px;
   background: #ff7a2f;
  color: white;
}

/* Heading */
.cta-box h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Text */
.cta-box p {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #e5e7eb;
}

/* Button */
.cta-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  background: white;
  color: #5a4fcf;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;

  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.cta-btn:hover {
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  .how-block {
    flex-direction: column;
    text-align: center;
  }

  .how-block.reverse {
    flex-direction: column;
  }
}